<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
    <%- include('./partials/nav') %>
  <h1 class="top">Full Menu</h1>
  <ul>
    <% RESTAURANT.menu.forEach((item, index) => { %>
        <li>
           <h2 class="item"><%= RESTAURANT.menu[index].name %></h2>
           <p class="item"><%= RESTAURANT.menu[index].details %></p>
           <p class="item">Price: <%= RESTAURANT.menu[index].price %></p>
           <p class="item">Rating: <%= RESTAURANT.menu[index].rating %></p>
        </li>
    <% }) %>
  </ul>
</body>
</html>


<style>

.top {
  display: flex;
  justify-content: center;
}

li {
  list-style: none
}

.item { 
  display: flex;
  justify-content: center;
}

</style>